@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

header {
    color: #2F435A;
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: 1em;
}

h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
}

body {
    font-family: 'Russo One', sans-serif;
    margin: 20px auto;
    max-width: 90%;
}

h2 {
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.main {
    transition: 1s all;
    display: flex;
    justify-content: space-between;
    background-color: #2F435A;
    color: white;
    border-radius: 1em;
    padding: 20px 10px;
}

.ai-click {
    background-color: #222;
}

.options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
}

input[type='button'] {
    transition: 0.1s all;
    background-color: white;
    border-radius: 2em;
    width: 125px;
    height: 50px;
    margin: 10px auto;
    font-size: 14px;
    font-family: 'Russo One', sans-serif;
}

input[type='button']:active {
    transform: scale(0.85);
}

#new-game-button {
    display: block;
    position: relative;
    border: 0px;
    color: white;
    background: green;
}

#new-game-button:hover {
    font-size: 16px;
}

#clear-results-button {
    display: block;
    position: relative;
    border: 0px;
    color: white;
    background-color: red;
}

#clear-results-button:hover {
    background-color: red;
    color: white;
    font-size: 16px;
}

.options p {
    text-align: center;
}

.toggle-housing {
    display: flex;
    width: 120px;
    height: 60px;
    margin: 0 auto;
}

.toggle-housing.animate {
    animation: headShake;
    animation-duration: 1s;
}

.toggle {
    transition: 0.2s all;
    width: 50%;
    transform: scale(0.8);
}

.toggle:hover {
    transform: scale(1.1);
}

.ai-housing {
    margin: 10px;
}

#ai-play {
    display: flex;
    transition: 0.2s all;
    transform: scale(0.8);
}

#ai-play:hover {
    transform: scale(1.1);
}

#ai-play:active {
    transform: scale(0.9);
}

/* #ai-play.pulse {
    animation: pulse 1s infinite;
} */

#ai-play div {
    margin: auto;
}

.game {
    display: inline-block;
    width: 50%;
    padding: 10px;
}

.instruction {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    height: 60px;
}

#next-move-symbol {
    transform: scale(0.7);
    margin: 0px 10px;
}

#next-move-symbol.animate {
    animation: zoomIn;
    animation-duration: 0.4s;
}

.draw-animation {
    animation: swing 2s;
}

.instruction p {
    margin: 0 0 20px 0;
}

.instruction div {
    display: inline-block;
    margin: 0;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 10px auto;
    width: 300px;
    height: 300px;
    background-color: #A47551;
    border-radius: 1em;
}

.small-box {
    transition: 0.4s all;
    display: flex;
    height: 30%;
    width: 30%;
    background-color: bisque;
    border: 1px solid grey;
}

.small-box:hover {
    opacity: 0.75;
}

.results {
    display: inline-block;
    width: 25%;
    padding: 20px 25px 10px 25px;
}

.results h2 {
    text-align: left;
}

.results div {
    margin: 20px auto;
}

.results p {
    text-align: left;
}

footer {
    color: #2F435A;
    border: 3px solid #2F435A;
    border-radius: 1em;
    margin: 20px auto;
}

footer h2 {
    text-align: left;
    margin: 15px 25px 5px 25px;
}

.naught {
    border: 5px solid red;
    border-radius: 3em;
    width: 50px;
    height: 50px;
    margin: auto;
}

.naught.animate, .square.animate {
    animation: jello;
    animation-duration: 1s;
}

.animate-win {
    animation: tada;
    animation-duration: 1s;
}

.square {
    width: 50px;
    height: 50px;
    margin: auto;
    border: 5px solid green;
}

.fade {
    transition: 0.2s all;
    opacity: 0.25;
}

.flip-table-animate {
    animation: rollOut 1s;
}

#disputed-result {
    color: orangered;
}